.contPrincipal{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  height: 700px;
  width: 1500px;
  border: 4px solid #F2FCFF;;
}
.contSecundario{
  height: 692px;
  width: 1492px;
  border: 4px solid ##F2FCFF;;
}
.cabecera{
  height: 100px;
  width: 1486px;
  border: 4px solid #333333;
  background: #333333;
}
.cuerpoSecundario{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  height: 576px;
  width: 1490px;
  border: 1px solid #F2FCFF;;
}

.cuerpoSecun{
  height: 576px;
  width: 300px;
  border: 1px solid #C3F1FF;
}
.barraLateral{
  grid-column: 1;
  grid-row: 1 / 2;
  height: 576px;
  width: 300px;
  border: 1px solid #C3F1FF;
  background: #C3F1FF;
}
.uno{
  height: 70px;
  width: 294px;
  border: 2px solid #77DFFF;
}

#uno:hover{
  height: 70px;
  width: 294px;
  background: #77DFFF;
}

.dos{
  height: 70px;
  width: 294px;
  border: 2px solid #77DFFF;
}
#dos:hover{
  height: 70px;
  width: 294px;
  background: #77DFFF;
}
.tres{
  height: 70px;
  width: 294px;
  border: 2px solid #77DFFF;
}
#tres:hover{
  height: 70px;
  width: 294px;
  background: #77DFFF;
}

.cuerpo{
  height: 576px;
  width: 1170px;
  border: 4px solid #F2FCFF;
  background: #F2FCFF;
}

#h1Zafary{
  color: #FFFFFF;
  text-align: center;
  font-size: 60px;
  font-family: roboto;
  margin-top: 15px;
}
#h2Zafary{
  color: #000000;
  margin-top: 10px;
  text-align: center;
  font-size: 40px;
  font-family: roboto;

}
#h3Zafary{
  color: #000000;
  text-align: center;
  font-size: 30px;
  font-family: roboto;
}
#imgZafary{
  height: 300px;
  width: 450px;
  margin-left: 360px;
}
#iZafary{
  margin: 10px 0px 0px 8px;
  float: left;
}
#pZafary{
  color: #000000;
  font-size: 25px;
  font-family: roboto;
  text-align: left;
  margin-left: 70px;
}

.contPrincipalWhatzapp {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  height: 450px;
  width: 650px;
  border: 1px #F2F2F2;
  background: #DBDBDB;
  margin-left: 250px;
}

.contSecundarioWhatzapp {
  grid-column: 2 / 2;
  grid-row: 1 / 3;
  height: 448px;
  width: 420px;
  border: 1px #DBDBDB;
}

.cabSecundariaWhatzapp {
  height: 80px;
  width: 418px;
  border: 1px solid #DBDBDB;
  background: #DBDBDB;
}

.cuerpoSecundarioWhatzapp {
  height: 366px;
  width: 418px;
  border: 1px solid #DBDBDB;
  background: #F2F2F2;
}

.cuerpoSecunWhatzapp {
  height: 292px;
  width: 418px;
  border: 1px  #717171;
  background: #F2F2F2;
}

.pieSecundarioWhatzapp {
  height: 58px;
  width: 418px;
  border: 1px #717171;
  background: #F2F2F2;
}

.barraLateralWhatzapp {
  grid-column: 1;
  grid-row: 1 / 2;
  height: 82px;
  width: 204px;
  border: 1px #DBDBDB;
  background: #FFFFFF;
}

.cabBarraLateralWhatzapp {
  height: 80px;
  width: 202px;
  border: 1px solid #DBDBDB;
  background: #DBDBDB;
}

.cuerpoBarraLateralWhatzapp {
  height: 364px;
  width: 226px;
  border: 1px solid #DBDBDB;
  background: #FFFFFF;
}

.unoWhatzapp {
  height: 60px;
  width: 226px;
  border: 1px solid #DBDBDB;
  background: #FFFFFF;
}

.dosWhatzapp {
  height: 60px;
  width: 226px;
  border: 1px solid #DBDBDB;
  background: #FFFFFF;
}

.tresWhatzapp {
  height: 60px;
  width: 226px;
  border: 1px solid #DBDBDB;
  background: #FFFFFF;
}

.cuatroWhatzapp {
  height: 60px;
  width: 226px;
  border: 1px solid #DBDBDB;
  background: #FFFFFF;
}

.cincoWhatzapp {
  height: 60px;
  width: 226px;
  border: 1px solid #DBDBDB;
  background: #FFFFFF;
}

#h1Whatsapp {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal color: #000000;
  text-transform: uppercase;
  font-size: 30px;
  padding-top: 8px;
}

#h2Whatsapp {
  margin-left: 10px;
  text-align: left;
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal color: #000000;
  font-size: 22px;
  }

#inputWhatsapp{
  margin: 20px 15px 10px 10px;
  height: 30px;
  width: 350px;
  background: #FFFFFF;
  border: 1px solid #DBDBDB;
  box-sizing: border-box;
  border-radius: 25px;
}
#imgWhatsapp{
  margin: 5px 5px;
  height: 50px;
  width: 50px;
  box-sizing: border-box;
  border-radius: 70px;
}

#pWhatsapp {
  color: #000000;
  font-size: 12px;
  font-family: roboto;
  margin-left: 65px;
  margin-top: -40px;
  text-transform: uppercase;

}
