
body {
  margin: 0;
}
.contPrincipal{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  height: 1100px;
  width: 1500px;
  border: 4px solid #F2FCFF;;
}
.contSecundario{
  height: 1092px;
  width: 1492px;
  border: 4px solid ##F2FCFF;;
}
.cabecera{
  height: 100px;
  width: 1486px;
  border: 4px solid #333333;
  background: #333333;
}
.cuerpoSecundario{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  height: 975px;
  width: 1490px;
  border: 1px solid #F2FCFF;;
}

.cuerpoSecun{
  height: 576px;
  width: 300px;
  border: 1px solid #C3F1FF;
}
.barraLateral{
  grid-column: 1;
  grid-row: 1 / 2;
  height: 975px;
  width: 300px;
  border: 1px solid #C3F1FF;
  background: #C3F1FF;
}
.unoZafary{
  height: 70px;
  width: 294px;
  border: 2px solid #77DFFF;
}

#unozafary:hover {
  height: 70px;
  width: 294px;
  background: #77DFFF;
}
.dosZafary{
  height: 70px;
  width: 294px;
  border: 2px solid #77DFFF;
}

#dosZafary:hover {
  height: 70px;
  width: 294px;
  background: #77DFFF;
}

.tresZafary{
  height: 70px;
  width: 294px;
  border: 2px solid #77DFFF;
}
#tresZafary:hover {
  height: 70px;
  width: 294px;
  background: #77DFFF;
}

.cuerpo{
  height: 975px;
  width: 1170px;
  border: 4px solid #F2FCFF;
  background: #F2FCFF;
}

#h1Zafary{
  color: #FFFFFF;
  text-align: center;
  font-size: 60px;
  font-family: roboto;
  margin-top: 15px;
}
#h2Zafary{
  color: #000000;
  margin-top: 10px;
  text-align: center;
  font-size: 40px;
  font-family: roboto;
}
#h3Zafary{
  color: #000000;
  text-align: center;
  font-size: 30px;
  font-family: roboto;
}
#imgZafary{
  height: 300px;
  width: 450px;
  margin-left: 360px;
}
#iZafary{
  margin: 10px 0px 0px 8px;
  float: left;
}
#pZafary{
  color: #000000;
  font-size: 25px;
  font-family: roboto;
  text-align: left;
  margin-left: 70px;

}
.principal {
  margin-top: 20px;
  margin-left: 350px;
  margin-bottom: 20%;
  height: 780px;
  width: 470px;
  background: #F2FCFF;
  border: 2px solid #C3F1FF;
  border-radius: 20px;
}

.secundario {
  margin-left: 20px;
  margin-right: 20px;
  height: 700px;
  width: 450px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  align-items: center;
}

.uno {
  grid-column: 0 / 3;
  grid-row: 1;
  height: 120px;
  width: 120px;
  background: #5AD2AE;
  border: 1px solid #469F85;
  box-sizing: border-box;
  border-radius: 20px;
}

.dos {
  grid-column: 2 / 3;
  grid-row: 1;
  height: 120px;
  width: 120px;
  background: #5AD2AE;
  border: 1px solid #469F85;
  box-sizing: border-box;
  border-radius: 20px;
}

.tres {
  grid-column: 3 / 3;
  grid-row: 1;
  height: 120px;
  width: 120px;
  background: #5AD2AE;
  border: 1px solid #469F85;
  box-sizing: border-box;
  border-radius: 20px;
}

.cuatro {
  grid-column: 0 / 3;
  grid-row: 2;
  height: 120px;
  width: 120px;
  background: #5AD2AE;
  border: 1px solid #469F85;
  box-sizing: border-box;
  border-radius: 20px;
}

.cinco {
  grid-column: 2 / 3;
  grid-row: 2;
  height: 120px;
  width: 120px;
  background: #5AD2AE;
  border: 1px solid #469F85;
  box-sizing: border-box;
  border-radius: 20px;
}

.seis {
  grid-column: 3 / 3;
  grid-row: 2;
  height: 120px;
  width: 120px;
  background: #5AD2AE;
  border: 1px solid #469F85;
  box-sizing: border-box;
  border-radius: 20px;
}

.siete {
  grid-column: 0 / 3;
  grid-row: 3;
  height: 120px;
  width: 120px;
  background: #5AD2AE;
  border: 1px solid #469F85;
  box-sizing: border-box;
  border-radius: 20px;
}

.ocho {
  grid-column: 2 / 3;
  grid-row: 3;
  height: 120px;
  width: 120px;
  background: #5AD2AE;
  border: 1px solid #469F85;
  box-sizing: border-box;
  border-radius: 20px;
}

.nueve {
  grid-column: 3 / 3;
  grid-row: 3;
  height: 120px;
  width: 120px;
  background: #5AD2AE;
  border: 1px solid #469F85;
  box-sizing: border-box;
  border-radius: 20px;
}

.diez {
  grid-column: 0 / 3;
  grid-row: 4;
  height: 120px;
  width: 120px;
  background: #5AD2AE;
  border: 1px solid #469F85;
  box-sizing: border-box;
  border-radius: 20px;
}

.once {
  grid-column: 2 / 3;
  grid-row: 4;
  height: 120px;
  width: 120px;
  background: #5AD2AE;
  border: 1px solid #469F85;
  box-sizing: border-box;
  border-radius: 20px;
}

.doce {
  grid-column: 3 / 3;
  grid-row: 4;
  height: 120px;
  width: 120px;
  background: #5AD2AE;
  border: 1px solid #469F85;
  box-sizing: border-box;
  border-radius: 20px;
}

.trece {
  grid-column: 0 / 3;
  grid-row: 5;
  height: 120px;
  width: 120px;
  background: #5AD2AE;
  border: 1px solid #469F85;
  box-sizing: border-box;
  border-radius: 20px;
}

.catorce {
  grid-column: 2 / 3;
  grid-row: 5;
  height: 120px;
  width: 120px;
  background: #5AD2AE;
  border: 1px solid #469F85;
  box-sizing: border-box;
  border-radius: 20px;
}

.quince {
  grid-column: 3 / 3;
  grid-row: 5;
  height: 120px;
  width: 120px;
  background: #5AD2AE;
  border: 1px solid #469F85;
  box-sizing: border-box;
  border-radius: 20px;
}

#imgZpotify {
  height: 75px;
  width: 75px;
  padding: 1px;
  margin: 5px 20px 0px 20px;
  border-radius: 45px;
  align-items: center;
}

#h1Zpotify {
  font-weight: normal;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  margin: auto;
  padding: 15px;
  color: #5AD2AE;
}

#pZpotify {
  color: #FFFFFF;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  margin-top: auto;
  font-size: 15px;
  font-weight: bold;
}
