body {
  margin: 0;
}

h1 {
  font-weight: normal;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  margin: auto;
  padding: 15px;
  color: #5AD2AE;
}

p {
  color: #FFFFFF;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  margin-top: auto;
  font-size: 15px;
  font-weight: bold;
}

.principal-login {
  margin-top: 150px;
  margin-left: 500px;
  margin-bottom: 20%;
  height: 300px;
  width: 400px;
  background: #F2FCFF;
  border: 2px solid #C3F1FF;
  border-radius: 20px;
}

.principal-login h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
  color: #5AD2AE;
}

.contenedor input {
  background: #FFFFFF;
  border: 1px solid #C3F1FF;
  box-sizing: border-box;
  border-radius: 40px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  width: 90%;
  height: 90%;
  margin-left: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.contenedor button {
  background: #5AD2AE;
  border: 1px solid #469F85;
  box-sizing: border-box;
  border-radius: 40px;
  padding: 14px 20px;
  margin: 8px 0;
  margin-left: 20px;
  cursor: pointer;
  width: 90%;
  height: 90%;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

i {
  color: red;
}

.labeluno {
  margin-left: 155px;
  color: grey;
}

.labeldos {
  color: grey;
}
